label {
    color: white;
}
.input {
    width: 12rem !important;
    height: 4rem;
    color: white;
    background-color: white;
}
.input-holder {
    display: flex;
    gap: 2rem;
    height: 20rem;
    width: 30rem;
    flex-direction: column;
}

