body {
    background-color: black;
}
.Main {
    width: 100%;
    height: 70rem;
}
.Hero-section > .con1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
    width: 40rem;
    height: 30rem;
    color: white;
}
.Hero-section > .con2 {
    position: fixed;
    right: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
    width: 40rem;
    height: 30rem;
    background-image: url(https://images.theconversation.com/files/102848/original/image-20151123-18264-j336wc.jpg?ixlib=rb-4.1.0&q=45&auto=format&w=926&fit=clip);
}
.Hero-section {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    gap: 2rem;
}